.npm
node_modules
package-lock.json
tools/.hyperinstall-state.json
.DS_Store
.expo
.exponent
_universe
/.go
.eslintcache
.tags*
.git-crypt-key
.npm-cache
**/**/.envrc.local
*.pyc
*.pyo
*~
*.log
.vscode

.pt-yarn-lock
*.pt-backup
.pt-repair
.pt-state

.tern-port
